body {
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/TROS-prequel-comic.svg");
  background-repeat: no-repeat;
  background-size: 135%;
}

.sidebar {
  list-style-type: none;
  background-color: #333;
  width: 230px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 1s ease;
}

.sidebar a {
  text-decoration: none;
  color: white;
  transition: 1s ease;
}

.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition: 0.5s ease;
}

.sidebar li:hover {
  background-color: #777;
  cursor: pointer;
  text-indent: 30px;
}

.sidebar > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

table {
  width: 47%;
  margin-left: 350px;
  color: white;
  background-color: gray;
  border-collapse: collapse;
}
td,
th {
  background-color: #777;
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  background-color: gray;
  color: white;
}
tr:hover {
  background-color: #ddd;
}

.main-content {
  margin-left: 220px;
  padding: 20px;
}

.collapsed + .main-content {
  margin-left: 60px;
}

/* pagination */

.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pagination {
  margin-top: 20px;
}

.pagination a {
  font-weight: 300;
  padding-top: 1px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-left-width: 0;
  min-width: 44px;
  min-height: 44px;
  color: rgba(255, 255, 255, 0.85);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.pagination li:not([class*="current"]) a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}

.pagination li:not([class*="current"]) a:focus,
.pagination li:not([class*="current"]) a:active {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-left-width: 1px;
}

.pagination li:first-of-type a {
  border-left-width: 1px;
}

.pagination li:first-of-type span,
.pagination li:last-of-type span,
.pagination li:nth-of-type(2) span,
.pagination li:nth-last-of-type(2) span {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pagination li:first-child a::before,
.pagination li:last-child a::after,
.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {
  display: inline-block;
  font-family: Fontawesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.pagination li:last-child a::after,
.pagination li:nth-last-of-type(2) a::after {
  transform: rotate(180deg);
}

.pagination li.current a {
  padding-top: 0.25em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
  cursor: default;
  pointer-events: none;
}
